#
# cal3d model configuration file
#
# model: cally
#

scale=1.0

skeleton=cally.csf

animation=cally_walk.caf

mesh=cally_calf_left.cmf
mesh=cally_calf_right.cmf
mesh=cally_chest.cmf
mesh=cally_foot_left.cmf
mesh=cally_foot_right.cmf
mesh=cally_hand_left.cmf
mesh=cally_hand_right.cmf
mesh=cally_head.cmf
mesh=cally_lowerarm_left.cmf
mesh=cally_lowerarm_right.cmf
mesh=cally_neck.cmf
mesh=cally_pelvis.cmf
mesh=cally_ponytail.cmf
mesh=cally_thigh_left.cmf
mesh=cally_thigh_right.cmf
mesh=cally_upperarm_left.cmf
mesh=cally_upperarm_right.cmf

material=cally_skin.xrf
material=cally_ponytail.xrf
material=cally_chest.xrf
material=cally_pelvis.xrf

